/* styles.css */

#geo-expertise-list {
  list-style-type: none;
  padding: 0;
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#geo-expertise-list li {
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #007BFF;
  background: #f9f9f9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

#geo-expertise-list li:hover {
  transform: scale(1.02);
}

#nav {
  background-color: rgba(10, 31, 53, 0.007) !important;
}